[submodule "LongMarch"]
	path = external/LongMarch
	url = https://github.com/LazyJazzDev/LongMarch.git
	branch = main
[submodule "assets"]
	path = assets
	url = https://github.com/LazyJazzDev/SparksAssets.git
	branch = main
